<ul style="list-style-type: none">
<div class="polaroid">
  <li *ngFor="let content of contents">

    <div class="container1">
      <div>{{content['kreator']['username']}}</div>
    </div>
    <ul style="list-style-type: none">
      <li *ngFor="let image of content['slike']">
          <img alt="slika" style="width : 100%" [src]="sanitize('data:image/jpg;base64,' + image.url)"/>
          <app-button text="Neprikladan sadrzaj" color="red" type="submit" (btnClick)="report(content['id'])"></app-button>
      </li>
    </ul>
    <div class="container1">
      <div>{{content['lokacija']['naziv']}}</div>
    </div>
    <app-button text="Like" color="green" type="button" (btnClick)="like(content['id'])"></app-button>
    <app-button text="Disike" color="green" type="button" (btnClick)="dislike(content['id'])"></app-button>
  </li>
</div>
</ul>
