<!--<div class="polaroid">
  <img alt="slika" style="width : 100%" [src]="sanitize('data:image/jpg;base64,' + zahtev['slika']['url'])"/>
</div>
<form (ngSubmit)="onSubmit()">
  <div class="container1">
    <label for="naziv">Naziv</label>
    <input id="naziv" name="naziv" type="number" [ngModel]="naziv"/>
    <label for="cena">Cena</label>
    <input id="cena" name="cena" type="text" [ngModel]="cena"/>
    <label for="stanje">Raspolozivo stanje</label>
    <input id="stanje" name="stanje" type="number" [ngModel]="stanje"/>
  </div>

  <app-button type="submit" text="Sacuvaj" color="green"></app-button>
</form>-->
