<!--<div class="polaroid">
  <ul style="list-style-type: none">
    <li *ngFor="let slika of reklama['slike']" style="display: inline;">
      <div class="column1">
        <img alt="slika" style="width : 40%; margin-right: 20px" [src]="sanitize('data:image/jpg;base64,' + slika.url)"/>
      </div>
    </li>
  </ul>
</div>

<div class="container1">
  <div>Ciljna grupa</div>
  <label for="pol">Pol</label>
  <input id="pol" type="text" value="{{kampanja['ciljnaGrupa']['pol']}}"/>
  <label for="godinePocetka">Godine pocetka</label>
  <input id="godinePocetka" type="text" value="{{kampanja['ciljnaGrupa']['godinePocetka']}}"/>
  <label for="godineKraja">Godine kraja</label>
  <input id="godineKraja" type="text" value="{{kampanja['ciljnaGrupa']['godineKraja']}}"/>
</div>
<div *ngIf="jednokratna==true">
  <div class="container1">
    <label for="pocetakPrikazivanja">Pocetak prikazivanja</label>
    <input id="pocetakPrikazivanja" type="text" value="{{kampanja['ciljnaGrupa']['pol']}}"/>
    <label for="krajPrikazivanja">Kraj prikazivanja</label>
    <input id="krajPrikazivanja" type="text" value="{{kampanja['ciljnaGrupa']['pol']}}"/>
  </div>

  <app-button type="button" text="Izmeni"></app-button>
</div>

<div *ngIf="jednokratna==false">

</div>
-->




