<form (ngSubmit)="onSubmit()" >
  <div class="container">
    <div class="row">
      <div class="col-25">
        <label for="pol">Pol</label>
      </div>
      <div class="col-75">
        <input type="text" [(ngModel)]="pol" name="pol" id="pol"/>
      </div>
    </div>
    <div class="row">
      <div class="col-25">
        <label for="godPocetka" >godPocetka</label>
      </div>
      <div class="col-75">
        <input type="text" [(ngModel)]="godPocetka" name="godPocetka" id="godPocetka"/>
      </div>
    </div>
    <div class="row">
      <div class="col-25">
        <label for="godKraja">godKraja</label>
      </div>
      <div class="col-75">
        <input type="text" [(ngModel)]="godKraja" name="godKraja" id="godKraja"/>
      </div>
    </div>
    <div class="row">
      <div class="col-25">
        <label for="datum">datum</label>
      </div>
      <div class="col-75">
        <input type="date" [(ngModel)]="datum" name="datum" id="datum"/>
      </div>
    </div>
    <div>
      <label *ngFor="let item of proizvodi">
        <input type="checkbox">{{item['naziv']}}
        <!--<li>
          <img alt="slika" style="width : 100%" [src]="sanitize('data:image/jpg;base64,' + item['slika'].url)"/>
        </li>-->
      </label>
    </div>
    <app-button text="Submit" color="green" type="submit"></app-button>
    <!--<app-button text="Registracija" color="green" type="button" [routerLink]="['/newsfeed']"></app-button>
    <app-button text="Nastavi bez prijave" color="green" type="button" [routerLink]="['/newsfeed']"></app-button>-->
  </div>
</form>
