<div *ngIf="isAgent">
  <app-navbar-agent></app-navbar-agent>
  <app-button text="Dodaj" [routerLink]="['/createProizvod']"></app-button>
</div>
<div *ngIf="!isAgent">
  <app-navbar></app-navbar>
</div>

<ul style="list-style-type: none">
  <div class="polaroid">
    <li *ngFor="let zahtev of zahtevi">
      <img alt="slika" style="width : 100%" [src]="sanitize('data:image/jpg;base64,' + zahtev['slika']['url'])"/>
      <div class="container1">
        <div>Ime: {{zahtev['naziv']}}</div>
        <div>raspolozivo stanje: {{zahtev['raspolozivoStanje']}}</div>
        <div>cena: {{zahtev['cena']}}</div>
      </div>
      <div *ngIf="isAgent">
        <app-button text="Izmeni" color="green" type="button"></app-button>
        <app-button text="Obrisi" color="green" type="button" (btnClick)="delete(zahtev['id'])"></app-button>
      </div>
      <div *ngIf="!isAgent">
        <app-button text="Kupi" color="green" type="button" (btnClick)="kupi(zahtev['id'])"></app-button>
      </div>
    </li>
  </div>
</ul>
